@model SkillTreeMVC.Models.AccountingViewModel
@{
    ViewBag.Title = "我的記帳本";
}


<div class="well">
    @using (Html.BeginForm("", "", null, FormMethod.Post, new { @class="form-horizontal" }))
    { 
        <div class="form-group">
            <label for="category" class="col-sm-2 control-label">類別</label>
            <div class="col-sm-10">
                <select name="Category" class="form-control">
                    <option value="0">支出</option>
                    <option value="1">收入</option>
                </select>
                @Html.ValidationMessageFor(d => d.Category, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label for="money" class="col-sm-2 control-label">金額</label>
            <div class="col-sm-10">
                @Html.EditorFor(d => d.Amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "金額" } })
                @Html.ValidationMessageFor(d => d.Amount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label for="date" class="col-sm-2 control-label">日期</label>
            <div class="col-sm-10">
                @Html.EditorFor(d => d.Date, new { htmlAttributes = new { @class = "form-control", @placeholder = "日期" } })
                @Html.ValidationMessageFor(d => d.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">備註</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(d => d.Note, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(d => d.Note, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-8 col-sm-4">
                <button type="submit" class="btn btn-default">送出</button>
            </div>
        </div>
    }
</div>
@Html.Action("_AccountingList")

